<section class="section mt-5">
	<div class="container">
	  <div class="row mb-5">
		<div class="col-lg-12 col-md-12 col-sm-12 col-12 ml-auto d-flex align-items-center mt-4 mt-md-0">
			<div class="well col-lg-12" ng-controller="tabsController">
				<ul class="tabs">
					<li ng-repeat="tab in tabs" ng-class="{active: current == tab.name}">
						<span ng-bind="tab.name" ng-click="toggleTab(tab)"></span>
					</li>
				</ul>
				<div ng-include="tab" class="tabs-data"></div>
			</div>
		</div>
	  </div>
	</div>
  </section>


